@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=McLaren&family=Nunito&family=Rubik+Pixels&family=Orbitron&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bold;

  color-scheme: light dark;
  color: whitesmoke;
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  display: grid;
  place-content: center;
  text-align: center;
  font-family: 'Orbitron', monospace;
}
#canvas{border: 6px solid silver;}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
}
